* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #ddc;
  font-family: DejaVu Sans, Bitstream Vera Sans, Helvetica, Verdana, Arial, sans-serif;
  font-size: 11pt;
}

.title {
  font-size: 24pt;
}

.desc {
  font-size: 10pt;
}

.nav_link {
  float: left;
  width: 130px;
  padding-top: 12px;
  margin-right: 20px;
  color: #ddc;
}

.logo {
  width: 380px;
  line-height: 100px;
  float: left;
  margin-left: 20px;
  font-size: 38pt;
}

#header {
  font-family: Georgia, serif;
  /*font-family: Kontrapunkt, serif;*/
  background-color: #111;
  color: #ddc;
  height: 100px;
  border-bottom: solid 3px #e80;
}

#main {
  clear: both;
  background-color: #ddc;
  width: 900px;
  margin: 1em auto;
}

#inner {
  float: left;
  width: 540px;
}

#footer {
  clear: both;
}

#header a {
  text-decoration: none;
}

#breadcrumb {
  background-color: #ccb;
  color: #888;
  padding: 3px;
  border-bottom: 1px solid #888;
}

#breadcrumb p {
  width: 900px;
  margin: 0 auto;
}

#breadcrumb a {
  color: #888;
  text-decoration: none;
}

#breadcrumb a:hover {
  text-decoration: underline;
}

#sidebar {
  width: 260px;
  float: right;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  padding: 0 1em;
  /*background-color: #ccb;*/
}

#sidebar ul {
  /*
  list-style: square;
  margin-left: 1em;
  font-size: 12pt;
  text-align: center;
  */
  margin-top: 1em;
  list-style: none;
}

#sidebar li {
  /*
  line-height: 150%;
  */
  text-align: center;
}

#sidebar li a {
  display: block;
  border: 1px dashed #888;
  padding: 0.5em 0;
  margin-bottom: 0.5em;
}

#sidebar h2 {
  text-align: center;
}

a {
  color: #c60;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#bal:hover .title {
  color: #e80;
}

#tel:hover .title {
  color: #f00;
}

#kil:hover .title {
  color: #8e0;
}

#fol:hover .title {
  color: #08e;
}

table {
  border: 1px solid #888;
}

td, th {
  padding: 0.2em;
}

table.vertical th {
  text-align: right;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: 16pt;
  margin: 1em 0;
}

table form {
  display: inline;
}

.submit {
  text-align: right;
}

p {
  margin: 1em 0;
}

ol {
  margin-left: 40px;
}

dt {
  margin-top: 1em;
}

.instructions {
  display: block;
  padding: 0.5em;
  border: 1px dashed #888;
  text-align: center;
}

